<launch>

  <!--ENCODER PINS-->
  <param name="HSA1" value="29" />
  <param name="HSB1" value="31" />

  <!--MPU AXIS REGISTER ADRESSES-->
  <param name="gyroZ" value="0x47" />
  <param name="gyroY" value="0x45" />
  <param name="gyroX" value="0x43" />
  <param name="accZ" value="0x3F" />
  <param name="accY" value="0x3D" />
  <param name="accX" value="0x3B" />

  <!--ULTRASONIC PINS-->
  <param name="ultrasonicFront_echo" type="int" value="32" />
  <param name="ultrasonicFront_trig" type="int" value="26" />
  <param name="ultrasonicRight_echo" type="int" value="18" />
  <param name="ultrasonicRight_trig" type="int" value="16" />
  <param name="ultrasonicLeft_echo" type="int" value="24" />
  <param name="ultrasonicLeft_trig" type="int" value="22" />

  <!--STARTING NODES-->
  <node name="encoderNode" pkg="sensors" type="encoder.py" />
  <node name="mpuNode" pkg="sensors" type="mpu.py" />
  <node name="ultrasonicNode" pkg="sensors" type="ultrasonic.py" />

  <node name="TurnActionNode" pkg="actions" type="turn.py" />
  <node name="StraightDriveActionNode" pkg="actions" type="straightDrive.py" />
  <node name="StraightDriveDistActionNode" pkg="actions" type="straightDriveDist.py" />

  <!--<node name="mainNode" pkg="main" type="main.py" />-->

</launch>
